*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
ul,
li,
a {
  padding: 0;
  margin: 0;
  display: inline-block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Walkway';
  src: url(../fonts/Walkway\ Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Walkway';
  src: url(../fonts/Walkway\ Condensed.ttf) format('truetype');
  font-weight: normal;
}
body {
  margin-top: 50px;
}

.wrapper {
  display: flex;
  width: 984px;
  height: 1200px;
  margin: 0 auto;
}
.navigation-bar {
  width: 420px;
  background-color: black;
  position: relative;
  z-index: 9999;
}
.navigation-bar::after {
  content: '';
  position: absolute;
  right: -18px;
  height: 1190px;
  width: 36px;
  display: inline-block;
  background-image: url(../img/стяжка.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  top: 8px;
}
.main {
  position: relative;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main::before {
  position: absolute;
  content: '';
  left: 0;
  height: 1200px;
  width: 216px;
  display: inline-block;
  background-image: url(../img/маска-мейн1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1001;
}
.header {
  width: 100%;
  height: 85px;
  background-image: url(../img/heade-bg.png);
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.nav-list {
  display: flex;
  margin-left: -3px;
}
.nav-item {
  width: 99px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 44px;
}
.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Arial';
  color: rgba(0, 0, 0, 0.671);
  text-transform: uppercase;
  line-height: 2.429;
}

.nav-item:nth-child(odd) .nav-link {
  font-size: 14px;
  font-family: 'Arial';
  color: #7c7c7c;
  text-transform: uppercase;
  line-height: 2.429;
  text-align: center;
}
.nav-item:nth-child(even) .nav-link {
  font-size: 14px;
  font-family: 'Arial';
  color: #545454;
  text-transform: uppercase;
  line-height: 2.429;
  text-align: center;
}

.nav-item:not(.nav-item:nth-child(1)) {
  width: 99px;
  border: 1px solid #e0dfdf;
}
.nav-item:nth-child(1) {
  background: rgb(225, 67, 0);
  background: linear-gradient(
    0deg,
    rgba(225, 67, 0, 1) 0%,
    rgba(255, 171, 0, 1) 100%
  );
  position: relative;
  font-size: 14px;
  font-family: 'Arial';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.429;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36);
  z-index: 100000;
}
.sub-menu {
  display: none;
}
.nav-item:hover .sub-menu {
  display: block;
}
.nav-item {
  position: relative !important;
}
.nav-item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: -1px;
  z-index: 100;
}
.sub-item:hover {
  background: rgb(225, 67, 0);
  background: linear-gradient(
    0deg,
    rgba(225, 67, 0, 1) 0%,
    rgba(255, 171, 0, 1) 100%
  );
  font-size: 14px;
  font-family: 'Arial';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.429;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36);
}
.sub-item {
  position: relative;
  width: 98px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 44px;
  transition: background-color 0.4s ease-in-out;
}
.sub-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sub-menu2 {
  display: none;
}
.sub-item:hover .sub-menu2 {
  display: block;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 100;
}

/* .nav-item:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 20px;
  background-image: url(../img/active-add-mask.png);
  background-repeat: no-repeat;
  top: 0;
} */
.nav .nav-list .nav-item:nth-child(2) {
  border-left: none;
}
.adventages {
  height: 235px;
  position: relative;
  background-color: #47b206;
}

.adventages::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 240px;
  display: inline-block;
  background-image: url(../img/Глобус.png);
  background-repeat: no-repeat;
}
.section-wrapper {
  padding-left: 82px;
  padding-right: 81px;
}
.section-italic {
  font-size: 30px;
  font-family: 'Times New Roman';
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 0.733;
}
.adventages-text {
  font-size: 20px;
  font-family: 'Times New Roman';
  color: rgb(41, 69, 2);
  font-style: italic;
  line-height: 1.1;
}
.adventages-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.adventages-link {
  font-size: 12px;
  font-family: 'Tahoma';
  color: rgb(211, 252, 67);
  text-decoration: underline;
  line-height: 1.4;
  margin-left: 8px;
}
.adventages-wrapper > * + * {
  margin-top: 11px;
}
.adventages::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 100%;
  left: 0;
  background-image: url(../img/section-pseudo.png);
  background-repeat: no-repeat;
}
.features {
  height: 515px;
}
.Features-title {
  font-size: 25px;
  font-family: 'Walkway';
  font-weight: bold;
  color: rgba(0, 0, 0, 0.612);
  text-transform: uppercase;
  line-height: 1.36;
  margin-bottom: -9px;
  margin-left: -1px;
}
.features-header {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.features-header img {
  margin-right: 15px;
}
.features-cards {
  display: flex;
  justify-content: space-between;
}
.features-cards__list {
  display: flex;
  flex-direction: column;
}
.features-cards__list > * + * {
  margin-top: 32px;
}
.card-title {
  font-size: 15px;
  font-family: 'Arial';
  color: rgb(37, 56, 166);
  line-height: 1.4;
}
.card-content {
  font-size: 12px;
  font-family: 'Arial';
  color: rgba(117, 117, 117, 0.851);
  line-height: 1.25;
}
.card-btn {
  font-size: 11px;
  font-family: 'Arial';
  color: rgb(81, 95, 173);
  font-weight: bold;
  line-height: 1.364;
  display: inline-block;
}
.card-btn:after {
  content: '>>>';
  font-size: 9px;
  font-family: 'Myriad Pro';
  color: rgb(92, 91, 91);
  line-height: 1.875;
  margin-left: 2px;
}
.card > * + * {
  margin-top: 12px;
}
.card2-content {
  font-size: 11px;
  font-family: 'Arial';
  color: rgb(78, 77, 77);
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.818;
}
.latest-news {
  display: flex;
  flex-direction: column;
  background: rgb(227, 156, 4);
  background: linear-gradient(
    90deg,
    rgba(227, 156, 4, 1) 0%,
    rgba(253, 174, 5, 1) 100%
  );
  height: 280px;
  margin-top: 13px;
  position: relative;
}
.news-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.news-header img {
  margin-right: 3px;
  margin-top: 38px;
}
.news-title {
  font-size: 25px;
  font-family: 'Walkway';
  font-weight: bold;
  color: rgba(0, 0, 0, 0.612);
  text-transform: uppercase;
  line-height: 1.36;
  margin-top: 30px;
}

.latest-news::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/section-pseudo.png);
}

.news-cards__list {
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
}
.news-header {
  display: flex;
}
.news-date {
  font-size: 11px;
  font-family: 'Arial';
  color: rgb(136, 50, 44);
  font-weight: bold;
  line-height: 1.909;
}
.news-card-title {
  color: #af0e02;
  line-height: 1.909;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Arial';
}
.news-header > * + * {
  margin-left: 14px;
}
.news-content {
  font-size: 12px;
  font-family: 'Arial';
  color: rgba(96, 37, 2, 0.851);
  line-height: 1.25;
}
.btn-news {
  font-size: 11px;
  font-family: 'Arial';
  color: rgb(221, 31, 6);
  font-weight: bold;
  line-height: 1.364;
}
.btn-news::after {
  content: '>>>';
  font-size: 9px;
  color: rgb(221, 31, 6);
  line-height: 1.875;
  margin-left: 2px;
}
.all-news {
  font-size: 11px;
  font-family: 'Arial';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.364;
}
.all-news::after {
  content: '>>>';
  margin-left: 4px;
  font-size: 9px;
  color: rgb(255, 255, 255);
  line-height: 1.875;
}
.footer {
  padding-bottom: 40px;
  padding-top: 26px;
  background: rgb(229, 89, 5);
  background: linear-gradient(
    90deg,
    rgba(229, 89, 5, 1) 0%,
    rgba(253, 98, 5, 1) 100%
  );
  position: relative;
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/section-pseudo.png);
}
.footer-wrapper {
  display: flex;
  transform: translateY(13px);
}
.footer-wrapper > * + * {
  margin-left: 10px;
}
.copyright,
.privacy {
  font-size: 12px;
  font-family: 'Arial';
  color: rgb(255, 255, 255);
  line-height: 1.25;
}
.privacy {
  color: #c1f82c;
  font-size: 12px;
}
.logo {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
}
.logo h1 {
  display: flex;
  flex-direction: column;
  font-size: 80px;
  font-family: 'Walkway';
  color: rgb(255, 255, 255);
  line-height: 0.425;
  font-weight: normal;
  text-transform: uppercase;
}
.logo .logo-sub-text {
  margin-top: 9px;
  font-size: 35px;
  font-family: 'Walkway';
  color: rgb(255, 255, 255);
  line-height: 0.971;
  margin-left: 13px;
}
.category-title {
  font-size: 21px;
  font-family: 'Walkway';
  font-weight: bold;
  color: rgba(255, 255, 255, 0.788);
  text-transform: uppercase;
  line-height: 0.714;
}
.category {
  margin-top: 220px;
}
.category-link {
  font-size: 12px;
  font-family: 'Arial';
  color: rgba(255, 255, 255, 0.439);
  text-decoration: underline;
  line-height: 1.833;
}
.category-item {
  position: relative;
}
.category-item:before {
  position: absolute;
  content: '>>';
  font-size: 9px;
  color: rgba(92, 91, 91, 0.569);
  line-height: 2.75;
  top: 0;
  left: -15px;
}
.category-list {
  margin-top: 20px;
  margin-left: 1px;
}
.card:last-child {
  margin-left: 84px;
}
.card:first-child .card-btn {
  margin-left: 3px;
}
.card:last-child .card-btn {
  margin-top: 5px;
}
.card-2 {
  width: 157px;
}
.card-2:first-child {
  margin-top: -11px;
}
.card-2:last-child {
  margin-right: 75px;
  margin-top: -11px;
}
.news-cards:last-child {
  margin-left: 65px;
}
.card-title {
  position: relative;
}
.card-title:hover::after {
  content: attr(data-cardText);
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 120;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}
.card-2 {
  position: relative;
}
.card2-content:hover::after {
  content: attr(data-cardText1);
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 120;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 5px 10px;
  border: 1px solid #333;
}
.news-title,
.news-card-title,
.all-news {
  transition: all 0.5s ease-in-out;
}
.news-title:hover {
  transform: translateY(-10px) rotate(180deg);
}
.news-card-title:hover {
  transform: translateX(50px);
}
.logo:hover {
  animation: shake 0.5s;

  /* Когда анимация будет закончена, начните снова */
  animation-iteration-count: infinite;
}
@media (max-width: 1400px) {
  .height {
    height: 180vh;
  }
  .features {
    height: auto;
  }
  .features-cards {
    display: flex;
    flex-direction: column;
  }
  .card:last-child {
    margin-left: 0;
  }
  .features-cards:last-child > * + * {
    margin-top: 20px;
  }
  .news-cards__list {
    display: flex;
    flex-direction: column;
  }
  .news-cards:last-child {
    margin-left: 0;
  }
  .wrapper {
    height: max-content;
  }
  .navigation-bar::after {
    content: '';
    position: absolute;
    right: -18px;
    height: 100%;
    width: 42px;
    display: inline-block;
    background-image: url(../img/стяжка.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    top: 8px;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
